<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find plat)/urdf/base/base.gazebo.xacro"/>
  
  <xacro:macro name="base_v0" params="parent *joint_origin">
	<joint name="base_link_joint" type="fixed">
	  <insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="base_link"/>
	</joint>

	<link name="base_link">
	  <visual>
	  	<origin xyz="0 0 0.0" rpy="0 0 ${radians(90)}"/>
		<geometry>
		 <!--- <mesh filename="package://kcctsim/meshes/DAE/base/base_link.dae"/>-->
		 	<mesh filename="package://plat/meshes/STL/base/plat_base.stl" scale="0.001 0.001 0.001"/>
		</geometry>
		<material name="gray">
    		<color rgba="0.8 0.8 0.8 2.0"/>
  		</material>
	  </visual>
	  <collision>
		<origin xyz="0 0 0.0" rpy="0 0 ${radians(90)}"/>
		<geometry>
		  <mesh filename="package://plat/meshes/STL/base/plat_base.stl" scale="0.001 0.001 0.001"/>
		</geometry>
	  </collision>
	  <inertial>
		<origin xyz="-0.3 0 0"/>
		<mass value="45"/>
		<inertia ixx="1.64890" ixy="0" ixz="-0.21424"
				 iyy="2.24766" iyz="0"
				 izz="1.25664" />
	  </inertial>
	</link>
  </xacro:macro>
  
</robot>
