<launch>
    <arg name="rviz" default="true"/>
    <arg name="sim" default="false"/>
    <arg name="world_name" default="$(find plat)/worlds/clearpath_playpen.world"/>
    <arg name="model" default="$(find plat)/robots/plat.urdf.xacro" />

    <group if="$(arg sim)">
        <include file="$(find plat)/launch/include/sim.launch" >
            <arg name="world_name" value="$(arg world_name)"/>
        </include>
    </group>
    <group unless="$(arg sim)">
        <include file="$(find plat)/launch/include/sensor.launch"/>
        <node name = "mode_publisher" pkg = "rostopic" type = "rostopic"
        args = "pub plat/mode_in std_msgs/String -r 1 'run'"/>
    </group>

    <!--sensor process-->
    <include file="$(find plat)/launch/include/sensor_process.launch"/>

    <!--joystick -> cmd_vel-->
    <node name="joy_node" pkg="joy" type="joy_node"/>
    <node name="joystickPS4" pkg="eg_mixed" type="joystickPS4">
        <param name="control_rate" value="1.5"/>
        <remap from="cmd_vel" to="diff_drive_controller/cmd_vel"/>
    </node>

    <!--rviz-->
    <include file="$(find plat)/launch/include/model_show.launch" >
        <arg name="include" value="true"/>
        <arg name="model" default="$(arg model)" />
    </include>
    <group if="$(arg rviz)">
        <arg name="rvizconfig" default="$(find plat)/rviz/operation_check.rviz" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
    </group>
</launch>