<?xml version="1.0"?>

<launch>
    <arg name="bag_file" default="/home/share/external_disk/tsukuba917.bag" />

    <arg name="way_file" default="tsukuba2022.csv"/>
    <arg name="map_pcd" default = "$(find plat)/resources/pcd/tsukuba2022.pcd"/>
    <arg name="model" default="$(find plat)/robots/plat.urdf.xacro" />

    <param name="/use_sim_time" value="true" />

    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bag_file) -r 1.5 --clock --topic /velodyne_points /initialpose"/>

    <!--sensor process-->
    <include file="$(find plat)/launch/include/sensor_process.launch"/>

    <!--model show-->
    <include file="$(find plat)/launch/include/model_show.launch" >
        <arg name="include" value="true"/>
        <arg name="model" default="$(arg model)" />
    </include>
    <!--3d localization-->
    <include file="$(find plat)/launch/include/slam_3d.launch">
        <arg name="map_pcd" value = "$(arg map_pcd)"/>
        <arg name="mcl_3dl_config" value="$(find plat)/config/mcl_3dl.yaml"/>
    </include>

    <node name="wpLoad" pkg="eg_wptool" type="wpLoad">
        <param name="filePath" value="$(find plat)/csv/$(arg way_file)"/>
        <param name="map_frame_id" value="map"/>
    </node>
    <node name="wpVisualizer" pkg="eg_wptool" type="wpVisualizer">
        <param name="markerSize" value="5.0"/>
    </node>
    <node name="wpControl" pkg="eg_wptool" type="wpControl">
        <param name="base_link_frame_id" value="base_link"/>
        <param name="map_frame_id" value="map"/>
        <param name="maxVelocity" value="1.1"/>
        <param name="loop_rate" value="20"/>
        <param name="target_deviation" value="1.5"/>
        <param name="final_target_deviation" value="0.5"/>
        <param name="failed_target_deviation_rate" value="4.0"/>
        <remap from="successPlan" to="astar_planning_node/successPlan"/>
    </node>

    <!--costmap-->
    <node pkg="eg_mixed" type="costmap_node" name="costmap_node">
        <rosparam command="load" file="$(find plat)/config/local_costmap_params_3d.yaml" />
    </node>
    <node name="path_costmap" pkg="eg_mixed" type="path_costmap">
        <rosparam command="load" file="$(find plat)/config/local_costmap_params_3d.yaml" />
    </node>
    <node name="costmap_merger" pkg="eg_mixed" type="costmap_merger" >
        <remap from="costmap_node/base_costmap" to="costmap_node/path_costmap" />
        <remap from="costmap_node/sub_costmap" to="costmap_node/my_costmap/costmap" />
        <remap from="costmap_node/merged_costmap" to="costmap_node/merged_costmap" />
    </node>

    <!--rviz-->
    <arg name="rvizconfig" default="$(find plat)/rviz/navigation_3d.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" respawn="true" />

    <node name="wpInitialPose" pkg="eg_wptool" type="wpInitialPose"/>

</launch>